@{
	Layout = null;
}
 
<!DOCTYPE html>
 
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Public house</title>
</head>
<body>
<div>
	<h3>Whore list</h3>
	<table>
		<tr><td><p>Имя</p></td>
			<td><p>Возраст</p></td>
			<td><p>Цена</p></td><td></td>
		</tr>
		@foreach (var w in ViewBag.Whores)
		{
			<tr>
				<td><p>@(w.FirstName + " " + w.LastName)</p></td>
				<td><p>@w.Age</p></td>
				<td><p>@w.PricePerHour</p></td>
				<td><p><a href="/Home/Buy/@w.Id">Заказать</a></p></td>
			</tr>
		}
	</table>
</div>
</body>
</html>